.navbar {
    position: sticky;
    top: 3.2rem;
    left: 50%;
    display: flex;
    width: fit-content;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    transform: translateX(-50%);
    border-radius: 6rem;
    background: rgba(232, 229, 228, 0.5);
    backdrop-filter: blur(16px);

    .link {
        border-radius: 6rem;
        padding: 1.2rem 3rem;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &.selected {
            background: var(--background);
        }
        
        p {
            font-size: 1.5rem;
        }
    }
}