<div *ngIf="!projectId; else projectNav" class="navbar">
    <ng-container *ngFor="let item of navList">
        <div (click)="changeRoute(item.path)" [ngClass]="{ link: true, selected: item.selected }">
            <p>{{ item.label }}</p>
        </div>
    </ng-container>
</div>

<ng-template #projectNav>
    <div class="navbar">
        <div class="link cursor-default">
            <p>{{ projectName }}</p>
        </div>

        <div class="link selected" (click)="changeRoute(navList[0].path)">
            <p>Back</p>
        </div>
    </div>
</ng-template>