* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(var(--background));
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--dark-grey), 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--dark-grey), 0.6);
}

body {
  font-family: "Helvetica Neue LT Pro", "Inter", sans-serif;
  text-decoration: none;
  color: rgb(var(--dark-grey));

  background: var(--background);
  overflow-x: hidden;
}

.container {
  // margin-top: -5.2rem;
  padding: 0 5%;

  @media (min-width: 768px) {
    padding: 0 10%;
  }

  @media (min-width: 1024px) {
    padding: 0 15%;
  }
}

.fade-in-sm {
  animation: fadeIn 0.7s ease-in-out forwards;
  will-change: opacity;
}

.fade-in-md {
  animation: fadeIn 1s ease-in-out forwards;
  will-change: opacity;
}

.fade-in-lg {
  animation: fadeIn 1.2s ease-in-out forwards;
  will-change: opacity;
}

.delay-sm {
  opacity: 0;
  animation-delay: 0.08s;
}

.delay-md {
  opacity: 0;
  animation-delay: 0.2s;
}

.delay-lg {
  opacity: 0;
  animation-delay: 0.5s;
}

.delay-xl {
  opacity: 0;
  animation-delay: 0.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(9rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  display: none;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
    background-color: var(--background-dark);
    color: rgb(var(--dark-grey));
    border-radius: 1.6rem;
    flex-direction: column;
    text-decoration: none;

    height: 50vh;
    width: 100%;

    &:hover {
        a {
            color: rgba(var(--dark-grey), 0.8);
          }
    }

    h1 {
        font-size: 3rem;
        font-weight: 500;
    }

    a {
        color: rgba(var(--dark-grey), 0.6);
        font-weight: 500;
        text-decoration: none;
        font-size: 3rem;

        &:hover {
            color: rgba(var(--dark-grey), 0.9);
          }
    }
}
