@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 400;
  src: url("../assets/fonts/HelveticaNeueLTProRoman.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 500;
  src: url("../assets/fonts/HelveticaNeueLTProMd.otf") format("opentype");
  font-display: swap;
}

* {
  --background: #fcfdfe;
  --background-dark: #e8e5e4;
  --dark-grey: #1e1e1e;
  --orange: #dd3515;
}
