$grid-gap: 2.4rem;

.projects-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: $grid-gap;

  width: 100%;
  justify-content: center;
  
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(2, calc(50% - #{$grid-gap / 2}));
  }
}
