<div class="container">
    <div class="intro fade-in-sm">
        <h1>Hey, I'm Pedro</h1>
    </div>

    <div class="profile">
        <div class="profile__info fade-in-sm delay-sm">
            <p>Inspired by nature to bridge the gap between different disciplines in order to solve complex problems and
                build timeless products and brands.</p>

            <p>Currently working as a Frontend Engineer at <a href="https://www.examroom.ai/"
                    target="_blank">ExamRoom.AI</a>.
            </p>
        </div>

        <div class="profile__picture fade-in-sm delay-md">
            <img src="assets/images/pedro-taciano.jpg" alt="profile picture">
        </div>
    </div>

    <div class="contact-cta">
        <app-contact-cta></app-contact-cta>
    </div>
</div>