<div class="card fade-in-sm delay-md">
    <div class="card__header">
        <div class="card__header__title">
            <p>{{ project.title }}</p>
        </div>
        <div class="card__header__button">
            <a [routerLink]="['/project', project.id]">
                <img src="assets/icons/arrow.svg " alt="arrow">
            </a>
        </div>
    </div>
    <div class="card__image">
        <img [src]="'assets/images/projects/' + project.id + '/thumbnail.png'" alt="project thumbnail" />
    </div>
</div>