.project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -5.2rem;

  .project-cover {
    width: 100%;
    height: 55vh;
    overflow: hidden;

    //   background-attachment: fixed;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .project-info {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    padding: 2rem;

    &__item {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;

      &__title {
        color: rgba(var(--dark-grey), 0.6);
        padding-bottom: 1rem;
        font-size: inherit;
      }

      &__value {
        font-size: inherit;

        a {
          color: inherit;
          font-size: inherit;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: rgba(var(--dark-grey), 0.6);
          }
        }
      }
    }
  }

  .project-title {
    display: flex;
    justify-content: flex-end;
    padding: 5vh 2rem 0 0;

    h1 {
      font-size: clamp(20%, 12vw, 18rem);
      font-weight: 500;
    }
  }

  .project-images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;

    &__item {
      width: 100%;
      height: 100%;
      overflow: hidden;

      &:nth-child(3n) {
        grid-column: 1 / 3;
      }

      img {
        width: 100%;
      }
    }
  }
}
