@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 400;
  src: url("./assets/fonts/HelveticaNeueLTProRoman.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  font-weight: 500;
  src: url("./assets/fonts/HelveticaNeueLTProMd.otf") format("opentype");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 62.5%;

  --background: #fcfdfe;
  --background-dark: #e8e5e4;
  --dark-grey: #1e1e1e;
  --orange: #DD3515
}

body {
  font-family: "Helvetica Neue LT Pro", "Inter", sans-serif;
  text-decoration: none;
  color: var(--dark-grey);

  background: var(--background);
}

.fade-in-sm {
  animation: fadeIn 0.7s ease-in-out forwards;
  will-change: opacity;
}

.fade-in-md {
  animation: fadeIn 1s ease-in-out forwards;
  will-change: opacity;
}

.fade-in-lg {
  animation: fadeIn 1.2s ease-in-out forwards;
  will-change: opacity;
}

.delay-sm {
  opacity: 0;
  animation-delay: .08s;
}

.delay-md {
  opacity: 0;
  animation-delay: .2s;
}

.delay-lg {
  opacity: 0;
  animation-delay: .5s;
}

.delay-xl {
  opacity: 0;
  animation-delay: .8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(9rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
