* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62.5%;
    text-decoration: none;
    color: var(--dark-grey);

    --background: #FCFDFE;
    --dark-grey: #1e1e1e
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--background);
}