<div class="hero container">
    <div class="hero__text fade-in-sm">
        <h1>Turning visions into reality through inventive development and thoughtful design</h1>
    </div>
    <div class="hero__social-wrapper fade-in-sm delay-sm">
        <a href="https://github.com/pedrotaciano" class="hero__social-wrapper__icon">
            <img src="assets/icons/github.svg" alt="github">
        </a>
        <a href="https://linkedin.com/in/pedrotaciano" class="hero__social-wrapper__icon">
            <img src="assets/icons/linkedin.svg" alt="linkedin">
        </a>
        <a href="https://dribbble.com/pedrotaciano" class="hero__social-wrapper__icon">
            <img src="assets/icons/dribbble.svg" alt="dribbble">
        </a>
    </div>
</div>

<app-projects-grid></app-projects-grid>

<div class="contact-cta container">
    <app-contact-cta></app-contact-cta>
</div>